.filter-rule {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.filter-rule button {
  background-color: green;
  color: white;
}
.filter-button-plus > .fas:first-child {
  padding-right: 0.2em;
}
.filter-button-plus > .fas:last-child {
  padding-left: 0.2em;
}
.filter-rule > * {
  margin-right: 10px;
}
