h2 { text-align: center; }
td {
    border-color: #ddd;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 4px 4px;
    font-size: 14px;
}
#thetable_filter {
    padding: 4px 4px;
    background-color: #ee8;
};
