<div id="Audience_legend">
  <h2>
    Audiences
  </h2>
  <div>
    <dl>
      <dt id="addict">addict</dt> <dd>Internet (often porn) addict or compulsive Internet user who wants to quit.  See also slacker.</dd>
      <dt id="antiad">antiad</dt> <dd>A person who wants to avoid ads online.</dd>
      <dt id="authority">authority</dt> <dd>A school, library, government, company, or business that wants to restrict Internet access of their students, patrons, citizens, employees, or clients respectively.</dd>
      <dt id="general">general</dt> <dd>A person who doesn't have a strong leaning toward one of the other audience categories.</dd>
      <dt id="hermit">hermit</dt> <dd>A person who is concerned about their privacy when using the Internet.</dd>
      <dt id="parent">parent</dt> <dd>A parent who wants to protect their offspring.</dd>
      <dt id="slacker">slacker</dt> <dd>A person who finds themselves too often distracted or wasting time on the Internet.  This is similar to but different from the addict.</dd>
      <dt id="spouse">spouse</dt> <dd>A spouse who wants to monitor or limit their partner's activity on the Internet.  This audience is not categorized on this page.  See instead products for parent or authority.</dd>
    </dl>
  </div>
</div>
