<div id="feature_legend">
  <h2>
    Features
  </h2>
  <div>
    <dl>
      <dt id="abandoned">abandoned</dt> <dd>The software is no longer being developed.  It may or may not still work, depending on how long ago the developers abandoned it.</dd>
      <dt id="accountability">accountability</dt> <dd>The software notifies an accountability partner, parent, or spouse regarding Internet activity or filter configuration, typically over email but sometimes using another means such as RSS.</dd>
      <dt id="ailing">ailing</dt> <dd>The software is not actively maintained and may or may not still be functional. Ailing is similar to abandoned except it is less clear that the developers have jumped ship.</dd>
      <dt id="antivirus">antivirus</dt> <dd>The software is part of an antivirus product.  Most antivirus products come with some type of parental controls.</dd>
      <dt id="applock">applock</dt> <dd>The software can block user access to programs.  See also games.</dd>
      <dt id="biglist">biglist</dt> <dd>Filtering is accomplished through a large database of categorized resources.</dd>
      <dt id="changedelay">changedelay</dt> <dd>The software allows the end-user to configure it without a password, but will not allow the change to take effect for some amount of time.</dd>
      <dt id="cloud">cloud</dt> <dd>The software interacts with data in the cloud.  E.g., a list of websites to block are retrieved from a remote server.</dd>
      <dt id="counseling">counseling</dt> <dd>The software helps connect the user to a real-life counselor.</dd>
      <dt id="countermeasures">countermeasures</dt> <dd>The software will notice and respond to attempts to work around it.  E.g., k9 can be configured to block all Internet access for a specified time if too many attempts to visit blocked pages are detected.</dd>
      <dt id="defunct">defunct</dt> <dd>The software has not been updated for a long time and either does not exist or if it does is unlikely to work on modern operating systems.</dd>
      <!-- <dd id=""><dt>dns</dt> <dd>The software uses or offers filtered DNS services.</dd> -->
      <!-- <dt id="etchosts">etchosts</dt> <dd>The software works by modifiying etchosts.</dd> -->
      <dt id="education">education</dt> <dd>The program consists of educational material that helps a user change behavior.</dd>
      <dt id="financial_consequences">financial_consequences</dt> <dd>A fine must be paid if the end-user views porn.</dd>
      <dt id="filtering">filtering</dt> <dd>The software blocks some content.  There are several kinds of filtering.</dd>
      <dt id="friends">friends</dt> <dd>The software helps the user communicate with a supportive community.</dd>
      <dt id="gamification">gamification</dt> <dd>The software motivates the user by helping the user track progress and get "rewards" (points) as in a game.</dd>
      <dt id="games">games</dt> <dd>The software can block user access to other programs (typically this is used to limit game time).</dd>
      <dt id="gateway">gateway</dt> <dd>The software is meant to be installed on a network router separate from the end-user machine.  In the case of a gateway filter on this page, the OS value lists all operating systems to reflect the fact that the end-user machine may have any operating system.  Such software is typically created for schools and employers.</dd>
      <dt id="hardware">hardware</dt> <dd>The software comes preinstalled on a device that connects to and filters for the local network.</dd>
      <dt id="harvester">harvester</dt> <dd>The software harvests data from the user for the benefit of the publisher of the software.  This designation is hard to determine with certainty because what exactly is done with data sent to the software publisher known only to the publisher.</dd>
      <dt id="historic">historic</dt> <dd>The software was once quite popular.</dd>
      <!-- <dt id="icap">icap</dt> <dd>The software is based on ICAP.</dd> -->
      <dt id="imageless">imageless</dt> <dd>The software supports an imageless mode in which no images or videos are rendered.</dd>
      <dt id="image_recognition">image_recognition</dt> <dd>The software uses image recognition.  See also skin and pixelation.</dd>
      <dt id="incomplete">incomplete</dt> <dd>The software describes itself as incomplete.</dd>
      <!-- <dt id="iptables">iptables</dt> <dd>The software works primarily through control over routing tables.</dd> -->
      <!-- <dt id="isp">isp</dt> <dd>The service is marketed as an ISP.</dd> -->
      <dt id="journal">journal</dt> <dd>The software is or includes a journal feature to help the user reflect.  See also education.</dd>
      <dt id="keyword">keyword</dt> <dd>Filtering is accomplished on the fly through keyword detection within web pages.</dd>
      <dt id="location_tracking">location_tracking</dt> <dd>The location of the end-user is tracked and usually presented to another person (ostensibly the end-user's parent).</dd>
      <dt id="mimetypes">mimetypes</dt> <dd>Filtering can be done on a mime type basis.  E.g., Pluckeye can block all images from https://craigslist.org/ , but still allow text.</dd>
      <dt id="misleading">misleading</dt> <dd>The marketing materials for the product are misleading or has outlandish claims such as "the best" when that is not the case.</dd>
      <dt id="monitoring">monitoring</dt> <dd>The software monitors Internet activity or filter settings for the purpose of allowing a parent, accountability partner, or other person to view.  See also accountability.</dd>
      <dt>more</dt> <dd>The software has other features that do not fit one of the other feature categories.</dd>
      <dt id="motivatation">motivation</dt> <dd>The program, site, or software has motivational messages for the end-user.</dd>
      <dt id="opensource">opensource</dt> <dd>The software is open source.</dd>
      <dt id="opensource_contrib">opensource_contrib</dt> <dd>The software is open source to interested contributors.</dd>
      <dt id="password">password</dt> <dd>The software allows or requires configuration to be protected by a password or administrator login.</dd>
      <dt id="pixelation">pixelation</dt> <dd>The software uses computer vision algorithms to anaylze images and pixelates ones that contain too much skin.</dd>
      <dt id="profanity">profanity</dt> <dd>The software can detect profane words and replace them with #$@! characters.</dd>
      <dt id="proxy">proxy</dt> <dd>The software is a proxy and requires browsers be configured to use it (note that this meaning is specific to this page).  See also gateway for another kind of proxy.</dd>
      <dt id="ratings">ratings</dt> <dd>The software uses self-identifying website ratings such as as <a href="https://www.rtalabel.org/">RTA</a> and <a href="https://www.safesurf.com/">SafeSurf</a> or the discontinued <a href="">PICS</a> or <a href="">POWDER</a> labeling systems.</dd>
      <dt id="screenshots">screenshots</dt> <dd>The software takes screenshots so that some other person can review what the user was doing.</dd>
      <dt id="skin">skin</dt> <dd>The software uses computer vision techniques to dynamically recognize skin in images.  See also pixelation.</dd>
      <dt id="smarts">smarts</dt> <dd>The software tries to determine whether content should be allowed or not by examining content.  This is sometimes used in combination with biglist techniques and sometimes as an alternative.</dd>
      <dt id="social">social</dt> <dd>The software specifically monitors interaction on social media sites such as Facebook, Google+, Instagram, LinkedIn, Pinterest, Tumblr, and Twitter, etc., with the intent of informing a parent about how their child is interacting through these sites.</dd>
      <dt id="spying">spying</dt> <dd>The software spies on the user and generates reports for somebody else to look at.  Spying is similar to monitoring and accountability but distinct because products that spy are more invasive, often logging key strokes and the like.  Marketing materials may indicate the end-user is commpletely unaware of the monitoring.</dd>
      <dt id="timer">timer</dt> <dd>The software can be configured to enable or disable access to the Internet or parts of the Internet for a specified amount of time or time of day.</dd>
      <dt id="timetracking">timetracking</dt> <dd>A variant of monitoring, timetracking emphasizes the amount of time spent on various activities.  Many tools that have monitoring also have timetracking and vice-versa.  See also monitoring.</dd>
    </dl>
  </div>
</div>
