<nav class="navbar navbar-expand-md navbar-light py-0" style="background-color:rgb(236, 240, 241)">
  <div class="container-fluid">
  <a class="navbar-brand" href="https://www.pluckeye.net/" title="Pluckeye">
    <img src="https://static.pluckeye.net/images/pluckeye.svg" alt="logo" style="height:28px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-rest" aria-controls="navbar-rest" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-rest">
    <ul class="nav navbar-nav flex-grow-1">
      <li><a href="https://www.pluckeye.net/" class="nav-link">&lt; back to main site</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="https://www.pluckeye.net/about.html" class="nav-link">about</a></li>
      <li><a href="https://www.pluckeye.net/help.html" class="nav-link">help</a></li>
    </ul>
  </div>
  </div>
</nav>
