<div id="Platform_legend">
  <h2>
    Platforms
  </h2>
  <div>
    <dl>
      <dt>android</dt> <dd>The software integrates with Android.</dd>
      <dt>browser</dt> <dd>The software integrates with one or more browsers (e.g., Chrome, Firefox, Internet Explorer, Opera, Safari) as opposed to the operating system or network.</dd>
      <dt>chrome</dt> <dd>The software integrates with Chrome and/or Chromium.</dd>
      <dt>firefox-56</dt> <dd>The software integrates with Firefox 56 or below.</dd>
      <dt>firefox-52</dt> <dd>The software integrates with Firefox 52 or above.</dd>
      <dt>ios</dt> <dd>The software integrates with iOS.</dd>
      <dt>linux</dt> <dd>The software integrates with Linux.</dd>
      <dt>macosx</dt> <dd>The software integrates with Mac OS X.</dd>
      <dt>network</dt> <dd>The software integrates with a network device, usually as opposed to a browser or operating system.  Such software is typically installed on a router, but can sometimes be installed on the local machine if the operating system is of the right kind.  All gateways and proxies work at the network level.</dd>
      <dt>windows</dt> <dd>The software integrates with Windows.</dd>
    </dl>
  </div>
</div>
