<div id="Platform_legend">
  <h2>
    Platforms
  </h2>
  <div>
    <dl>
      <dt>android</dt> <dd>The software integrates with Android.</dd>
      <dt>browser</dt> <dd>The software integrates with one or more browsers such as
        <a href="https://brave.com/">Brave</a>,
        <a href="https://www.google.com/chrome/">Chrome</a>,
        <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>,
        <a href="https://www.microsoft.com/edge">Edge</a>,
        Internet Explorer,
        <a href="https://opera.com/">Opera</a>,
        <a href="https://vivaldi.com/">Vivaldi</a>,
        <a href="https://www.apple.com/safari/">Safari</a>, and the like.</dd>
      <dt>palemoon</dt> <dd>The software integrates with Firefox 56 or below and spin-offs such as <a href="http://palemoon.org/">Pale Moon</a> and <a href="https://www.waterfox.net/">Waterfox</a>.</dd>
      <dt>internet</dt> <dd>The product is an Internet site.</dd>
      <dt>ios</dt> <dd>The software integrates with iOS.</dd>
      <dt>linux</dt> <dd>The software integrates with Linux.</dd>
      <dt>macosx</dt> <dd>The software integrates with Mac OS X.</dd>
      <dt>network</dt> <dd>The software integrates with a network device, usually as opposed to a browser or operating system.  Such software is typically installed on a router, but can sometimes be installed on the local machine if the operating system is of the right kind.  All gateways and proxies work at the network level.</dd>
      <dt>windows</dt> <dd>The software integrates with Windows.</dd>
    </dl>
  </div>
</div>
