<!--
<div id="problem_legend">
<h2>
Problem Legend
</h2>
<dl>
<dt>disableable</dt> <dd>The software can be disabled fairly easily without detection.</dd>
<dt>failaddict</dt> <dd>The software would not be acceptable or of help to most addicts.</dd>
<dt>failgeneral</dt> <dd>The software would not be acceptable or of help to most general users.</dd>
<dt>failoverlord</dt> <dd>The software would not be acceptable or of help to most overlords.  This could be considered a positive feature rather than a problem.</dd>
<dt>failparents</dt> <dd>The software would not be acceptable or of help to most parents looking to protect their children.</dd>
<dt>falsepositives</dt> <dd>The software frequently reports benign content as problematic.</dd>
<dt>falseshutdown</dt> <dd>The software reports that the user shut it down when the user did not; usually this happens when the host machine is put to sleep.</dd>
<dt>falsedisable</dt> <dd>The software falsely reports that it has been disabled when it hasn't</dd>
<dt>httponly</dt> <dd>The software works only with http and not with https.</dd>
<dt>imagesearch</dt> <dd>Porn is available and not reported in image search.</dd>
<dt>overblock</dt> <dd>The software blocks significant content that is benign.</dd>
<dt>password</dt> <dd>The software can be disabled with an administrator password.</dd>
<dt>plecebo</dt> <dd>Even though the software it terrible, because the user believes that it works, it is effective in keeping the user from seeking porn.  This is listed as a problem because some users discover that the plecebo doesn't actually work, and then it is no longer effective for them.</dd>
<dt>underreports</dt> <dd>Users can view content that should be restricted, and the software doesn't report it.  This may include but is certainly not limited to image searches on www.google.com.</dd>
<dt>wikipedia</dt> <dd>Porn on sites such as wikipedia is accessible and not reported.</dd>
</dl>
</div>
</div>
</div>
-->
